<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Jaume Alavedra Mas</title>
  <meta name="description" content="I am a software engineer with a background in security, web development, and computer vision.">
  <meta name="keywords" content="resume, jaume alavedra, engineer">
  <meta name="robots" content="index, follow">
  <meta name="language" content="EN">

  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}">

</head>
<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">

            {%- include about.html -%}

            {%- if site.data.projects.size > 0 -%}
                {%- include projects.html -%}
            {%- endif -%}

            {%- if site.data.experience.size > 0 -%}
                {%- include experience.html -%}
            {%- endif -%}

            {%- if site.data.education.size > 0 -%}
                {%- include education.html -%}
            {%- endif -%}

            <!-- {%- include more.html -%} -->

        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>
